<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <div class="email">
        <a href="mailto:admin@renhab.com">admin AT renhab DOT com</a>
      </div>
      <br>
      <div class="address">
        Silver Spring, MD 20906
      </div>
    </div>

    <div class="four columns">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/shipping">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        This website is not in production yet.
      </p>
    </div>
    
  </div>
</footer>
